<a href="https://colab.research.google.com/github/prophets-of-eternity/summer-2021-v3/blob/main/ACM_PP_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    COLAB = True
    print("Note: using Google CoLab")
    %tensorflow_version 2.x
except:
    print("Note: not using Google CoLab")
    COLAB = False

Mounted at /content/drive
Note: using Google CoLab

In [ ]:
!pip install pytz
!pip install https://github.com/neuropsychology/neurokit/zipball/master

Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (2018.9)
Collecting https://github.com/neuropsychology/neurokit/zipball/master
  Downloading https://github.com/neuropsychology/neurokit/zipball/master
     - 155.9 MB 18.1 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from neurokit2==0.1.3) (0.22.2.post1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from neurokit2==0.1.3) (1.4.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from neurokit2==0.1.3) (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from neurokit2==0.1.3) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from neurokit2==0.1.3) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->neurokit2==0.1.3) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->neurokit2==0.1.3) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->neurokit2==0.1.3) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->neurokit2==0.1.3) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->neurokit2==0.1.3) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->neurokit2==0.1.3) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->neurokit2==0.1.3) (1.0.1)
Building wheels for collected packages: neurokit2
  Building wheel for neurokit2 (PEP 517) ... done
  Created wheel for neurokit2: filename=neurokit2-0.1.3-py2.py3-none-any.whl size=1010309 sha256=0cbb403b9b1c3c7f99ae982bed61a2d9e15adcec8cd2a68a785fee9dbd7b2bf6
  Stored in directory: /tmp/pip-ephem-wheel-cache-b6bjeb_0/wheels/f9/ab/f2/fd4a1736f76af31efe92b48862a9b15d383fd35cebc6010ed5
Successfully built neurokit2
Installing collected packages: neurokit2
Successfully installed neurokit2-0.1.3

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import pytz
import os
import matplotlib.pyplot as plt
import neurokit2 as nk
from scipy import signal

In [ ]:
def condition(value):
    if value <= 13:
        return 0 #minimal
    elif (value>=14) and (value<=19):
        return 1 #mild
    elif (value>=20) and (value<=28):
        return 2 #moderate
    elif value >= 29:
        return 3 #severe


def timeconversion(value):
  # print(pytz.all_timezones)
  tz = pytz.timezone('Asia/Shanghai')
  return datetime.fromtimestamp(value/1000, tz=tz).strftime('%Y-%m-%d %H:%M:%S')

def endtime(value):
  # print(pytz.all_timezones)
  tz = pytz.timezone('Asia/Shanghai')
  return datetime.fromtimestamp((value-1.8e+6)/1000, tz=tz).strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
DATA_PATH = "/content/drive/MyDrive/ACMV1/Stress&Mood/trait.xlsx - Pre-test.csv"

df = pd.read_csv(DATA_PATH)
df = df[['Participant ID', 'BDI-II_1', 'BDI-II_2', 'BDI-II_3', 'BDI-II_4', 'BDI-II_5', 'BDI-II_6', 'BDI-II_7', 'BDI-II_8', 'BDI-II_9', 'BDI-II_10', 'BDI-II_11', 'BDI-II_12',
         'BDI-II_13', 'BDI-II_14', 'BDI-II_15', 'BDI-II_16', 'BDI-II_17', 'BDI-II_18', 'BDI-II_19', 'BDI-II_20', 'BDI-II_21']]

df['BDI-II-Score'] = df[['BDI-II_1', 'BDI-II_2', 'BDI-II_3', 'BDI-II_4', 'BDI-II_5', 'BDI-II_6', 'BDI-II_7', 'BDI-II_8', 'BDI-II_9', 'BDI-II_10', 'BDI-II_11', 'BDI-II_12',
         'BDI-II_13', 'BDI-II_14', 'BDI-II_15', 'BDI-II_16', 'BDI-II_17', 'BDI-II_18', 'BDI-II_19', 'BDI-II_20', 'BDI-II_21']].sum(axis=1)


print(len(df['Participant ID'].unique()))
df = df[~df.isin([np.nan, np.inf, -np.inf]).any(1)].astype(np.float64)

df['BDI_Numeric'] = df['BDI-II-Score'].apply(condition)

display(df)
df.to_csv("/content/drive/MyDrive/ACMV1/Stress&Mood/BDI_Scores_Formatted.csv")

142

     Participant ID  BDI-II_1  BDI-II_2  ...  BDI-II_21  BDI-II-Score  BDI_Numeric
0            1001.0       1.0       1.0  ...        1.0          23.0            2
1            1002.0       1.0       1.0  ...        1.0          21.0            2
2            1003.0       2.0       1.0  ...        1.0          24.0            2
3            1004.0       1.0       1.0  ...        1.0          21.0            2
4            1005.0       2.0       1.0  ...        2.0          39.0            3
..              ...       ...       ...  ...        ...           ...          ...
137          3125.0       2.0       2.0  ...        2.0          40.0            3
138          3126.0       1.0       1.0  ...        1.0          24.0            2
139          3127.0       1.0       1.0  ...        1.0          24.0            2
140          3128.0       2.0       2.0  ...        2.0          35.0            3
141          3129.0       1.0       1.0  ...        1.0          21.0            2

[142 rows x 24 columns]

In [ ]:
bdi_pretest_df = pd.read_csv("/content/drive/MyDrive/ACMV1/Stress&Mood/BDI_Scores_Formatted.csv")
display(bdi_pretest_df)

#I CAN READ EXCEL!
esm_df =  pd.read_excel("/content/drive/MyDrive/ACMV1/Stress&Mood/Psychol_Rec/ESM.xlsx")

esm_df['PPGEnd'] = esm_df[' StartTimeStamp '].apply(timeconversion)
esm_df['PPGStart'] = esm_df[' StartTimeStamp '].apply(endtime)

print(esm_df['Participant ID'].value_counts())

print(len(esm_df[esm_df['Participant ID'] == 1001])

)
display(esm_df)

     Unnamed: 0  Participant ID  BDI-II_1  ...  BDI-II_21  BDI-II-Score  BDI_Numeric
0             0          1001.0       1.0  ...        1.0          23.0            2
1             1          1002.0       1.0  ...        1.0          21.0            2
2             2          1003.0       2.0  ...        1.0          24.0            2
3             3          1004.0       1.0  ...        1.0          21.0            2
4             4          1005.0       2.0  ...        2.0          39.0            3
..          ...             ...       ...  ...        ...           ...          ...
137         137          3125.0       2.0  ...        2.0          40.0            3
138         138          3126.0       1.0  ...        1.0          24.0            2
139         139          3127.0       1.0  ...        1.0          24.0            2
140         140          3128.0       2.0  ...        2.0          35.0            3
141         141          3129.0       1.0  ...        1.0          21.0            2

[142 rows x 25 columns]

3018    30
2012    30
3024    30
3027    30
1017    30
        ..
2025    18
2101    18
2107    16
2117    13
1006    12
Name: Participant ID, Length: 142, dtype: int64
25

      Participant ID  ...             PPGStart
0               1001  ...  2019-11-25 09:10:14
1               1001  ...  2019-11-25 11:48:58
2               1001  ...  2019-11-25 14:10:21
3               1001  ...  2019-11-25 16:37:53
4               1001  ...  2019-11-25 18:49:52
...              ...  ...                  ...
3784            3129  ...  2019-12-13 09:45:51
3785            3129  ...  2019-12-13 12:30:03
3786            3129  ...  2019-12-13 17:20:43
3787            3129  ...  2019-12-13 19:23:57
3788            3129  ...  2019-12-13 21:50:59

[3789 rows x 28 columns]

In [ ]:
folder_1 = "/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec1/Physiol_Rec"
folder_2 = "/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec2/Physiol_Rec"
folder_3 = "/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec3/Physiol_Rec"

def get_files(folder):
    list = []
    for the_file in os.listdir(folder):
        # the_file = the_file.split(".")
        list.append(the_file)
    mylist = set(list)
    print(len(mylist))
    return sorted(mylist)

In [ ]:
def plotme(data):

        duration = len(data)/20.0
        time = np.arange(0,duration,1/20.0)
        no_1_minute_intervals = int(((duration)/60.0))
        print(no_1_minute_intervals)

        i = 0
        my_signal = signal[(no_1_minute_intervals*i*int(20.0)):(i+1)*no_1_minute_intervals*(int(20.0))] 
        time = np.arange(0,60.0,1/20.0)

        plt.plot(time,my_signal)
        plt.xlabel('Time [s]')
        plt.ylabel('Amplitude')
        plt.show()

        # plt.figure(figsize=(20,8))
        # plt.subplot(211)
        # plt.plot(data)
        # plt.show()

In [ ]:
def timeslice(time):
  year = time[0:4]
  month = time[4:6]
  day = time[6:8]
  hour = time[8:10]
  min = time[10:12]
  sec = time[12:14]
  ms = time[14:16]

  return (datetime(*map(int, [year, month, day, hour, min, sec])))

In [ ]:

patient0 = get_files("/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec1/Physiol_Rec/1001")

for x in patient0:

        print(x)

        if ('PPG' in x) and ('gsheet' not in x):
          ppg_data_df = pd.read_csv("/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec1/Physiol_Rec/1001/{}".format(x))
          display(ppg_data_df.head())
          signal_mine = np.array(ppg_data_df["PPG"])
          the_file = x.split(".")[0]

          

          time1 = the_file.split("_")[0]
          time2= the_file.split("_")[1]

          print(time1)
          print(time2)

          timeslice(time1)
          timeslice(time2)

        # interval = 120
        # i = 0

        # duration = len(signal_mine)/20.0
        # print("Duration", duration)
        # time = np.arange(0,duration,1/20.0)
        # no_1_minute_intervals = int(((duration)/60))
        # print("No of intervals:", no_1_minute_intervals)


        # my_signal = signal_mine[(interval*i*20):((i+1)*interval*20)]   
        # my_signal = my_signal[my_signal > 100]

        # time = np.arange(0,len(my_signal),1/20.0)
        # plt.plot(time,my_signal)
        # plt.xlabel('Time [s]')
        # plt.ylabel('Amplitude')
        # plt.show()

21
20191124092457_20191125220645.csv
20191124092457_20191125220645_ACC.csv
20191124092457_20191125220645_GSR.csv
20191124092457_20191125220645_PPG.csv

         PPG         csv_time_PPG
0   0.047684  2019-11-24 09:24:57
1   1.711547  2019-11-24 09:24:57
2   9.941459  2019-11-24 09:24:57
3  28.162599  2019-11-24 09:24:57
4  52.314699  2019-11-24 09:24:57

20191124092457
20191125220645
2019-11-24 09:24:57
2019-11-25 22:06:45
20191124092457_20191125220645_PPG.gsheet
20191125221140_20191126214226.csv
20191125221140_20191126214226_ACC.csv
20191125221140_20191126214226_GSR.csv
20191125221140_20191126214226_PPG.csv

         PPG         csv_time_PPG
0   0.050962  2019-11-25 22:11:40
1   1.797974  2019-11-25 22:11:40
2  10.399222  2019-11-25 22:11:40
3  29.436052  2019-11-25 22:11:40
4  54.682195  2019-11-25 22:11:40

20191125221140
20191126214226
2019-11-25 22:11:40
2019-11-26 21:42:26
20191126214801_20191127220341.csv
20191126214801_20191127220341_ACC.csv
20191126214801_20191127220341_GSR.csv
20191126214801_20191127220341_PPG.csv

         PPG         csv_time_PPG
0   0.047386  2019-11-26 21:48:01
1   1.675487  2019-11-26 21:48:01
2   9.650290  2019-11-26 21:48:01
3  27.221441  2019-11-26 21:48:01
4  50.525665  2019-11-26 21:48:01

20191126214801
20191127220341
2019-11-26 21:48:01
2019-11-27 22:03:41
20191127220836_20191128230158.csv
20191127220836_20191128230158_ACC.csv
20191127220836_20191128230158_GSR.csv
20191127220836_20191128230158_PPG.csv

         PPG         csv_time_PPG
0   0.047386  2019-11-27 22:08:36
1   1.632273  2019-11-27 22:08:36
2   9.365976  2019-11-27 22:08:36
3  26.441813  2019-11-27 22:08:36
4  49.111843  2019-11-27 22:08:36

20191127220836
20191128230158
2019-11-27 22:08:36
2019-11-28 23:01:58
20191128230616_20191129204220.csv
20191128230616_20191129204220_ACC.csv
20191128230616_20191129204220_GSR.csv
20191128230616_20191129204220_PPG.csv

          PPG         csv_time_PPG
0    0.303388  2019-11-28 23:06:16
1    8.958876  2019-11-28 23:06:16
2   52.069128  2019-11-28 23:06:16
3  147.323310  2019-11-28 23:06:16
4  273.540020  2019-11-28 23:06:16

20191128230616
20191129204220
2019-11-28 23:06:16
2019-11-29 20:42:20

In [ ]:
# ppg_set_1 = get_files(folder_1)
# ppg_set_2 = get_files(folder_2)
# ppg_set_3 = get_files(folder_3)

# for x in ppg_set_1:
#       file_path = os.path.join(folder_1, x)
#       print(file_path)
#       user_data = get_files(file_path)
#       for y in user_data:
#          data_path = os.path.join(file_path, y)
#          print(data_path)
#          print(y)
#          name = y.split(".")[0]
#          start_watch = name.split("_")[0]
#          end_watch = name.split("_")[1]
#          try:
#             signal_type = name.split("_")[2]
#             print("Signal Type {}, with times = {} to {}".format(signal_type, start_watch, end_watch))
#             ppg_data_df = pd.read_csv(data_path)
#             display(ppg_data_df.head())

#             signal = np.array(ppg_data_df["PPG"])

      

#             plotme(signal)
#             break
#          except:
#                 print("Summary file")

In [ ]:
ppg_data_df = pd.read_csv("/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec1/Physiol_Rec/1001/20191124092457_20191125220645_PPG.csv")
display(ppg_data_df.head())
signal = np.array(ppg_data_df["PPG"])
calc_hrv_metrics_ppg(signal, "mexico")

In [ ]:
import re 

def timeslice_ppg(time):
  year = time[0:4]
  month = time[4:6]
  day = time[6:8]
  hour = time[8:10]
  min = time[10:12]
  sec = time[12:14]
  ms = time[14:16]

  return (datetime(*map(int, [year, month, day, hour, min, sec])))
  
def timeslice_ppg_v2(time):
  year = time[0:4]
  month = time[4:6]
  day = time[6:8]
  hour = time[8:10]
  min = time[10:12]
  sec = time[12:14]
  ms = time[14:16]

  return (datetime(*map(int, [year, month, day, hour, min, sec])))
  
def date_time_formatted(date):

  try:
    int(date[:4])
    date = date.replace('-',',')
    date = date.replace(':',',')
    date = date.replace(' ',',')
    date = date.replace(',','')
    return timeslice_ppg(date)
  except:
    date = '26-Nov-2019 21:42:23'
    date = datetime.strptime(date, '%d-%b-%Y %H:%M:%S')
    return date


date1 = '2019-11-25 22:11:40'
date2 = '26-Nov-2019 21:42:23'

print(date_time_formatted(date1) > date_time_formatted(date2))



# print(re.sub([\w,:],"", str(date1)))

False

In [ ]:


for index, row in esm_df.iterrows():
  print(row['Participant ID'])

  patient = get_files("/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec1/Physiol_Rec/{}".format(row['Participant ID']))

  exp_start = row['PPGStart']
  exp_end = row['PPGEnd']



  for x in patient:
    
    if ('PPG' in x) and ('gsheet' not in x):
      ppg_data_df = pd.read_csv("/content/drive/MyDrive/ACMV1/Stress&Mood/Physiol_Rec1/Physiol_Rec/{}/{}".format(row['Participant ID'],(x)))
    
      the_file = x.split(".")[0]
      time1 = the_file.split("_")[0]
      time2= the_file.split("_")[1]
      ppg_start = timeslice(time1)
      ppg_end = timeslice(time2)

      exp_start = date_time_formatted(exp_start)
      exp_end = date_time_formatted(exp_end)


      print("Exp Start", type(exp_start))
      print("Exp End",exp_end)
      print("PPG Start", ppg_start)
      print("PPG End", ppg_end)
      

  
      ppg_data_df['csv_time_PPG'] = ppg_data_df['csv_time_PPG'].apply(date_time_formatted)
      display(ppg_data_df)

      print(ppg_data_df['csv_time_PPG'].iloc[-1] >= exp_start)
      print(ppg_data_df['csv_time_PPG'].iloc[-1] <= exp_end)
      


      mexico = ppg_data_df.loc[(ppg_data_df['csv_time_PPG'] > exp_start) & (ppg_data_df['csv_time_PPG'] <= exp_end)]
      display(mexico)

1001
21
Exp Start <class 'datetime.datetime'>
Exp End 2019-11-25 09:40:14
PPG Start 2019-11-24 09:24:57
PPG End 2019-11-25 22:06:45

               PPG        csv_time_PPG
0         0.047684 2019-11-24 09:24:57
1         1.711547 2019-11-24 09:24:57
2         9.941459 2019-11-24 09:24:57
3        28.162599 2019-11-24 09:24:57
4        52.314699 2019-11-24 09:24:57
...            ...                 ...
1549935  76.562166 2019-11-26 21:42:23
1549936  76.562166 2019-11-26 21:42:23
1549937  76.562166 2019-11-26 21:42:23
1549938  76.562166 2019-11-26 21:42:23
1549939  76.562166 2019-11-26 21:42:23

[1549940 rows x 2 columns]

True
False

Empty DataFrame
Columns: [PPG, csv_time_PPG]
Index: []

Exp Start <class 'datetime.datetime'>
Exp End 2019-11-26 21:42:23
PPG Start 2019-11-25 22:11:40
PPG End 2019-11-26 21:42:26

              PPG        csv_time_PPG
0        0.050962 2019-11-25 22:11:40
1        1.797974 2019-11-25 22:11:40
2       10.399222 2019-11-25 22:11:40
3       29.436052 2019-11-25 22:11:40
4       54.682195 2019-11-25 22:11:40
...           ...                 ...
864675  68.868399 2019-11-26 21:42:23
864676  68.868399 2019-11-26 21:42:23
864677  68.868399 2019-11-26 21:42:23
864678  68.868399 2019-11-26 21:42:23
864679  68.868399 2019-11-26 21:42:23

[864680 rows x 2 columns]

True
True

Empty DataFrame
Columns: [PPG, csv_time_PPG]
Index: []